@import url('https://fonts.googleapis.com/css2?family=Orbitron&display:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display:100,200,300,400,500,600,700');

.nav-font {
    font-family: "orbitron", sans-serif;
}

body {
    font-family: "ubuntu", sans-serif;
}

.brand-logo {
    margin-left: 10px;
}

.back-button {
    margin-top: 10px;
}

/* body {
    background-image: url("/static/images/hero_image.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
} */