{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Title</h3>

    <div class="row">
        <form class="col s10 col m8 offset-s1 offset-m2" method="POST" action="{{ url_for('add_title')}}">
            <div class="row card-panel">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="title_name" name="title_name" type="text" minlength="5" maxlength="50" class="validate" required>
                        <label for="title_name">Name of Title</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="title_image" name="title_image" type="url" class="validate" required>
                        <label for="title_image">Image</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="title_year" name="title_year" type="number" minlength="4" maxlength="4" class="validate" required>
                        <label for="title_year">Year of Release</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="title_chapters" name="title_chapters" type="number" class="validate" required>
                        <label for="title_chapters">Chapters</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="title_mangaka" name="title_mangaka" type="text" minlength="5" maxlength="25" class="validate" required>
                        <label for="title_mangaka">Name of Mangaka</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="title_story" name="title_story" class="materialize-textarea" required></textarea>
                        <label for="title_story">Storyline</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large">Add Title</button>
                    </div>
                </div>
            </div>     
        </form>

        <!--Add a review-->
        <!-- <h4 class="center-align">Share Your Opinion</h4>

        <form method="POST" action="">
            <div class="row card-panel">        
                <div class="row">
                    <div class="input-field col s12">
                        <input id="title_rname" name="title_rname" type="text" minlength="5" maxlength="50" class="validate" placeholder="Optional">
                        <label for="title_rname">Name Your Review</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="title_review" name="title_review" class="materialize-textarea" placeholder="Optional"></textarea>
                        <label for="title_review">Write a Review</label>
                    </div>
                </div>               
            </div>            
        </form> -->
    </div>

{% endblock %}